@model SistemaVentas.Models.ProductoModels.TablaProductoModel
@{
    ViewBag.Title = "Editar";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Editar", "Tabla", FormMethod.Post, htmlAttributes : new {@enctype = "multipart/form-data" }))
{

    @*contenedor para el formulario *@
    <div class="row">
        <div class="col-md-12">

            @Html.HiddenFor(d => d.Id)
            <div class="form-group">
                @Html.LabelFor(d => d.Codigo)
                @Html.TextBoxFor(d => d.Codigo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Codigo, null, new { @class = "red" })
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.Nombre)
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "red" })
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.Costo)
                @Html.TextBoxFor(d => d.Costo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Costo, null, new { @class = "red" })
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.Precio)
                @Html.TextBoxFor(d => d.Precio, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Precio, null, new { @class = "red" })
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.Existencia)
                @Html.TextBoxFor(d => d.Existencia, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Existencia, null, new { @class = "red" })
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.Fecha)<br />
                @Html.EditorFor(d => d.Fecha, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Fecha, null, new { @class = "red" })
            </div>
            <br/>
            <br/>
            @if (Model.Ruta_img != null)
            {
                <div class="form-group">
                    <label class="control-label col-md-2">Imagen</label>
                    <div class="col-md-10">
                        <img src="@Url.Content(Model.Ruta_img)" alt="Img seleccionada" width="100" class="img-rounded" />
                        @Html.ValidationMessageFor(d => d.Ruta_img, "", new { @class = "red" })
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="control-label col-md-2">Imagen</label>
                    <div class="col-md-10">
                        <img src="" alt="Sin img seleccionada" width="100" class="img-rounded" />
                        @Html.ValidationMessageFor(d => d.Ruta_img, "", new { @class = "red" })
                    </div>
                </div>
            }
            <br />
            <br />
            <div class="form-group">
                @Html.LabelFor(d => d.Ruta_img)<br />
                <input type="file" name="Ruta_img" accept="image/*" class="col-md-7 col-xs-12" />
                @Html.ValidationMessageFor(d => d.Ruta_img, null, new { @class = "red" })
            </div>

            <br />
            <div>
                <input value="Guardar" class="btn btn-danger" type="submit" />
            </div>
        </div>

    </div>

}